.movies{
    width: 80%;
    margin: auto;
    .app-movies{
        column-width: 300px;
        column-gap: 15px;
       width: 100%;
       .movie-column{
        width: 100%;
        display: inline-block;
        margin-bottom: 30px;
        border: none;
        border-bottom: 2px solid #dddddd4f;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        .movie-img{
            width: 100%;
            img{
                width: 100%;
                border-radius: 5px;
            }
        }
        .movie-descr{
            position: relative;
            small{
            right: 0;
            top: 0;
            font-weight: bold;
            }
        }
       }
    }
}